@import url("https://cdn.lineicons.com/4.0/lineicons.css");
.container{
    width: 100%;
    height: 100vh;
    margin: 0 auto;
    
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


.edit-value{

    border: none;
    
}
.table{
    border: 1px solid #bbb;
    width: 80%;
}
.page-row{
    display:flex;
    justify-content: space-between;
}
.row-option{
    width:100px;
    text-align: center;
}
.row-option i{
    text-align: center;
    width: 100%;
    
}
.field-name{
    border-left: 1px solid #bbb;
    width: 100px;
    max-height: 32px;
    position: relative;
    overflow: hidden;
}

/* field-name h6{

} */


.field-name:first-child{
    border-left: none;
}
.field-row {
    width: 100%;
    border-bottom: 1px solid #bbb;
}


.field-name select{
   width: 100%;
   height: 100%;
   border: none;
}
select option {
    width: 100%;
}
#done{
    background-color: green;
}
#todo{
    background-color: red;
}
#progress{
    background-color: yellow;
}