@import url("https://cdn.lineicons.com/4.0/lineicons.css");
.container{
    width: 100%;
    height: 100vh;
    margin: 0 auto;
    
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


.edit-value{

    border: none;
    
}
.table{
    border: 1px solid #bbb;
    width: 80%;
}
.page-row{
    display:flex;
    justify-content: space-between;
}
.row-option{
    width:100px;
    text-align: center;
}
.row-option i{
    text-align: center;
    width: 100%;
    
}
.field-name{
    border-left: 1px solid #bbb;
    width: 100px;
    max-height: 32px;
    position: relative;
    overflow: hidden;
}

.field-name:first-child{
    border-left: none;
}
.field-row {
    width: 100%;
    border-bottom: 1px solid #bbb;
}

/* selection styling*/
.field-name select{
   width: 100%;
   height: 100%;
   border: none;
}
select option {
    width: 100%;
}
#done{
    background-color: green;
}
#todo{
    background-color: red;
}
#progress{
    background-color: yellow;
}

/* drop down table fields */
.dropdown-menu {
	position: absolute;
	top: 8px;
	right: 100px;
	background-color: #fff;
	border: 1px solid #bbb;
	z-index: 1;
}

.dropdown-menu ul {
	list-style-type: none;
	padding: 0;
	margin: 0;
}

.dropdown-menu ul li {
	padding: 5px 10px;
	cursor: pointer;
}

.dropdown-menu ul li:hover {
	background-color: #bbb;
}